@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
:root{
    --main-color:#ffffff;
    --black-color:#000;
}
.nav-bar{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background:rgb(255, 255, 255);
    height: 80px;
    margin: 0 auto;
    color:black;
    padding: 0 50px;
    box-shadow: inset 0 -1px #000000;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-logo{
    width: 90px;
}

.nav-logo img{
    width: 100%;
    object-fit: cover;
}

.nav-items{
    display: flex;
    gap: 50px;
    font-size: 2rem;
    height: 55px;
}

a{
    text-decoration: none;
}


.btn{
    font-size: 1.6rem;
    border: 1px solid gray;
    padding: 7px 30px;
    transition: 0.2s;
    background-color:#4353ff;
    color:rgba(255, 255, 255, 0.945);
    transition: 0.2s;
}

.btn:hover{
    background-color: #3545ee;
    box-shadow: 5px 5px 0px #000000ce;
    color: white;
}

.underline{
    transition: 0.2s;
}

.underline:hover{
    box-shadow: inset 0 -3px #4353ff;
}

.item{
    transition: 0.2s;
    color: #000;
}
.item:hover{
    color:#4353ff;
}